* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #e7e0e0; /* Cor em hexadecimal */
    padding: 30px 400px 0;
}

p {
    font-size: 30px;
    line-height: 37px;
    margin: 0 40px;
}

.sessao1 {
    border-bottom: 3px solid #dd8f37;
    padding: 0 60px;
}

.sessao1 img {
    width: 200px;
}

.sessao2 h2 {
    font-weight: normal;
    color: #dd8f37;
}

.sessao2 img {
    width: 810px;
    margin-top: 10px;
}
.sessao2{
    margin-top: 40px;
    line-height: 40px;
}


.sessao3 {
    margin-top: 10px;
    background-color: #dd8f37;
    padding: 20px 0;
    color: white;
    font-weight: bold;
    line-height: 30px;
}

.sessao3 h3, 
.sessao3 h4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
}

.sessao3 img {
    width: 350px;
}

.contato h3 {
    font-size: 30px;
    padding-bottom: 12px;
}

a {
    text-decoration: underline;
    color: rgb(133, 91, 44);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.links {
    padding: 12px 0 18px;
}
